lib/dtd/destruction-monitor.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://hebb.cis.uoguelph.ca/dastacey/Grid/ERG_ADM"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:ergadm="http://hebb.cis.uoguelph.ca/dastacey/Grid/ERG_ADM">

  <include schemaLocation="base_types.xsd" />

  <complexType name="destruction-monitor-type">
    <annotation>
      <documentation xml:lang="en">
        <![CDATA[
          This module tracks destructions.  It can record the number of units
          destroyed and for what reasons, and the individual units that are
          destroyed.
        ]]>
      </documentation>
    </annotation>    
    <sequence>
      <!-- No parameters. -->

      <element name="output" minOccurs="0" maxOccurs="unbounded">
        <complexType>
          <sequence>
            <element name="variable-name">
              <simpleType>
                <restriction base="string">                
                  <enumeration value="destructions">
                    <annotation>
                      <documentation xml:lang="en">
                        <![CDATA[
                          Units that have been destroyed.  This variable gives
                          a comma separated list of indices into the list of
                          units.  The list does not contain unit IDs; rather,
                          it contains a 0 to indicate the first unit in the
                          list, a 1 to indicate the second, and so on.  The
                          list is emptied each time it is reported, so this
                          variable gives new destructions for each reporting
                          interval (e.g., day, week).  This variable is needed
                          if destructions are to appear in the apparent events
                          table.  WARNING: this variable can produce a large
                          amount of output and should be turned off when doing
                          large numbers of Monte Carlo trials.
                        ]]>
                      </documentation>
                    </annotation>
                  </enumeration>
                  <enumeration value="num-units-destroyed">
                    <annotation>
                      <documentation xml:lang="en">
                        <![CDATA[
                          The number of units destroyed.  The count is reset to
                          zero each time it is reported, so this variable gives
                          a total for each reporting interval (e.g., day, week).
                        ]]>
                      </documentation>
                    </annotation>
                  </enumeration>
                   <enumeration value="num-units-destroyed-by-reason">
                    <annotation>
                      <documentation xml:lang="en">
                        <![CDATA[
                          The number of units destroyed, broken down by reason
                          for destruction.
                        ]]>
                      </documentation>
                    </annotation>
                  </enumeration>
                  <enumeration value="num-units-destroyed-by-production-type">
                    <annotation>
                      <documentation xml:lang="en">
                        <![CDATA[
                          The number of units destroyed, broken down by
                          production type.
                        ]]>
                      </documentation>
                    </annotation>
                  </enumeration>
                  <enumeration value="num-units-destroyed-by-reason-and-production-type">
                    <annotation>
                      <documentation xml:lang="en">
                        <![CDATA[
                          The number of units destroyed, broken down by
                          production type and reason for destruction.
                        ]]>
                      </documentation>
                    </annotation>
                  </enumeration>
                  <enumeration value="num-animals-destroyed">
                    <annotation>
                      <documentation xml:lang="en">
                        <![CDATA[
                          The number of animals destroyed.  The count is reset
                          to zero each time it is reported, so this variable
                          gives a total for each reporting interval (e.g., day,
                          week).
                        ]]>
                      </documentation>
                    </annotation>
                  </enumeration>
                  <enumeration value="num-animals-destroyed-by-reason">
                    <annotation>
                      <documentation xml:lang="en">
                        <![CDATA[
                          The number of animals destroyed, broken down by
                          reason for destruction.
                        ]]>
                      </documentation>
                    </annotation>
                  </enumeration>
                  <enumeration value="num-animals-destroyed-by-production-type">
                    <annotation>
                      <documentation xml:lang="en">
                        <![CDATA[
                          The number of animals destroyed, broken down by
                          production type.
                        ]]>
                      </documentation>
                    </annotation>
                  </enumeration>
                  <enumeration value="num-animals-destroyed-by-reason-and-production-type">
                    <annotation>
                      <documentation xml:lang="en">
                        <![CDATA[
                          The number of animals destroyed, broken down by
                          production type and reason for destruction.
                        ]]>
                      </documentation>
                    </annotation>
                  </enumeration>
                  <enumeration value="cumulative-num-units-destroyed">
                    <annotation>
                      <documentation xml:lang="en">
                        <![CDATA[
                          The cumulative number of units destroyed since the
                          beginning of the simulation.
                        ]]>
                      </documentation>
                    </annotation>
                  </enumeration>
                  <enumeration value="cumulative-num-units-destroyed-by-reason">
                    <annotation>
                      <documentation xml:lang="en">
                        <![CDATA[
                          The cumulative number of units destroyed since the
                          beginning of the simulation, broken down by reason
                          for destruction.
                        ]]>
                      </documentation>
                    </annotation>
                  </enumeration>
                  <enumeration value="cumulative-num-units-destroyed-by-production-type">
                    <annotation>
                      <documentation xml:lang="en">
                        <![CDATA[
                          The cumulative number of units destroyed since the
                          beginning of the simulation, broken down by
                          production type.
                        ]]>
                      </documentation>
                    </annotation>
                  </enumeration>
                  <enumeration value="cumulative-num-units-destroyed-by-reason-and-production-type">
                    <annotation>
                      <documentation xml:lang="en">
                        <![CDATA[
                          The cumulative number of units destroyed since the
                          beginning of the simulation, broken down by
                          production type and reason for destruction.
                        ]]>
                      </documentation>
                    </annotation>
                  </enumeration>
                  <enumeration value="cumulative-num-animals-destroyed">
                    <annotation>
                      <documentation xml:lang="en">
                        <![CDATA[
                          The cumulative number of animals destroyed since the
                          beginning of the simulation.
                        ]]>
                      </documentation>
                    </annotation>
                  </enumeration>
                  <enumeration value="cumulative-num-animals-destroyed-by-reason">
                    <annotation>
                      <documentation xml:lang="en">
                        <![CDATA[
                          The cumulative number of animals destroyed since the
                          beginning of the simulation, broken down by reason
                          for destruction.
                        ]]>
                      </documentation>
                    </annotation>
                  </enumeration>
                  <enumeration value="cumulative-num-animals-destroyed-by-production-type">
                    <annotation>
                      <documentation xml:lang="en">
                        <![CDATA[
                          The cumulative number of animals destroyed since the
                          beginning of the simulation, broken down by
                          production type.
                        ]]>
                      </documentation>
                    </annotation>
                  </enumeration>
                  <enumeration value="cumulative-num-animals-destroyed-by-reason-and-production-type">
                    <annotation>
                      <documentation xml:lang="en">
                        <![CDATA[
                          The cumulative number of animals destroyed since the
                          beginning of the simulation, broken down by
                          production type and reason for destruction.
                        ]]>
                      </documentation>
                    </annotation>
                  </enumeration>
                </restriction>
              </simpleType>                   
            </element>
            <element name="frequency" type="ergadm:output-variable-frequency" />
          </sequence>
        </complexType>
      </element>
    </sequence>

    <attribute name="version" type="string" fixed="0.1" />
  </complexType>

</schema>
