lib/dtd/infection-monitor.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://hebb.cis.uoguelph.ca/dastacey/Grid/ERG_ADM"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:ergadm="http://hebb.cis.uoguelph.ca/dastacey/Grid/ERG_ADM">

  <include schemaLocation="base_types.xsd" />

  <complexType name="infection-monitor-type">
    <annotation>
      <documentation xml:lang="en">
        <![CDATA[
          This module tracks infections.  It can record the number of units
          infection and by what causes, and the individual units that are
          infected.
        ]]>
      </documentation>
    </annotation>    
    <sequence>
      <!-- Model parameters. -->
      <element name="ratio-period" type="ergadm:time">
        <annotation>
          <documentation xml:lang="en">
            <![CDATA[
              The time period over which to compare recent new infections.  For
              example, a value of 14 days would mean to divide the number of
              new infections in the last 14 days vs. the number of new
              infections in the 14 days prior to that.
            ]]>
          </documentation>
        </annotation>
      </element>

      <element name="output" minOccurs="0" maxOccurs="unbounded">
        <complexType>
          <sequence>
            <element name="variable-name">
              <simpleType>
                <restriction base="string">                
                  <enumeration value="ratio">
                    <annotation>
                      <documentation xml:lang="en">
                        <![CDATA[
                          The number of new infections in the last 'x' days
                          over the number of new infections in the 'x' days
                          before that.  The parameter 'ratio-period' is used to
                          set the time period of interest.  This variable has
                          no value until 2*x days have passed.
                        ]]>
                      </documentation>
                    </annotation>
                  </enumeration>
                  <enumeration value="infections">
                    <annotation>
                      <documentation xml:lang="en">
                        <![CDATA[
                          The source and target units of infections.  This
                          variable gives a comma separated list of 'a->b'
                          items, where 'a' is the source of the infection and
                          'b' is the target.  For initially infected units, the
                          'a->' is omitted.  'a' and 'b' are not unit IDs;
                          rather, they would be a 0 to indicate the first unit
                          in the list, a 1 to indicate the second, and so on.
                          The list is emptied each time it is reported, so this
                          variable gives new infections for each reporting
                          interval (e.g., day, week).  This variable is needed
                          if infections are to appear in the exposures and
                          infections table.  WARNING: this variable can produce
                          a large amount of output and should be turned off
                          when doing large numbers of Monte Carlo trials.
                        ]]>
                      </documentation>
                    </annotation>
                  </enumeration>
                  <enumeration value="num-units-infected">
                    <annotation>
                      <documentation xml:lang="en">
                        <![CDATA[
                          The number of units newly infected.  The count is
                          reset to zero each time it is reported, so this
                          variable gives a total for each reporting interval
                          (e.g., day, week).
                        ]]>
                      </documentation>
                    </annotation>
                  </enumeration>
                  <enumeration value="num-units-infected-by-cause">
                    <annotation>
                      <documentation xml:lang="en">
                        <![CDATA[
                          The number of units newly infected, broken down by
                          cause of infection.
                        ]]>
                      </documentation>
                    </annotation>
                  </enumeration>
                  <enumeration value="num-units-infected-by-production-type">
                    <annotation>
                      <documentation xml:lang="en">
                        <![CDATA[
                          The number of units newly infected, broken down by
                          production type.
                        ]]>
                      </documentation>
                    </annotation>
                  </enumeration>
                  <enumeration value="num-units-infected-by-cause-and-production-type">
                    <annotation>
                      <documentation xml:lang="en">
                        <![CDATA[
                          The number of units newly infected, broken down by
                          production type and cause of infection.
                        ]]>
                      </documentation>
                    </annotation>
                  </enumeration>
                  <enumeration value="num-animals-infected">
                    <annotation>
                      <documentation xml:lang="en">
                        <![CDATA[
                          The number of animals newly infected.  The count is
                          reset to zero each time it is reported, so this
                          variable gives a total for each reporting interval
                          (e.g., day, week).
                        ]]>
                      </documentation>
                    </annotation>
                  </enumeration>
                  <enumeration value="num-animals-infected-by-cause">
                    <annotation>
                      <documentation xml:lang="en">
                        <![CDATA[
                          The number of animals newly infected, broken down by
                          cause of infection.
                        ]]>
                      </documentation>
                    </annotation>
                  </enumeration>
                  <enumeration value="num-animals-infected-by-production-type">
                    <annotation>
                      <documentation xml:lang="en">
                        <![CDATA[
                          The number of animals newly infected, broken down by
                          production type.
                        ]]>
                      </documentation>
                    </annotation>
                  </enumeration>
                  <enumeration value="num-animals-infected-by-cause-and-production-type">
                    <annotation>
                      <documentation xml:lang="en">
                        <![CDATA[
                          The number of animals newly infected, broken down by
                          production type and cause of infection.
                        ]]>
                      </documentation>
                    </annotation>
                  </enumeration>
                  <enumeration value="cumulative-num-units-infected">
                    <annotation>
                      <documentation xml:lang="en">
                        <![CDATA[
                          The cumulative number of units infected since the
                          beginning of the simulation.  Note that this may be
                          greater than the total number of units, since a unit
                          may become infected, recover, and become infected
                          again.  This variable is needed to create a plot of
                          the true epidemic curve.
                        ]]>
                      </documentation>
                    </annotation>
                  </enumeration>
                  <enumeration value="cumulative-num-units-infected-by-cause">
                    <annotation>
                      <documentation xml:lang="en">
                        <![CDATA[
                          The cumulative number of units infected since the
                          beginning of the simulation, broken down by cause of
                          infection.
                        ]]>
                      </documentation>
                    </annotation>
                  </enumeration>
                  <enumeration value="cumulative-num-units-infected-by-production-type">
                    <annotation>
                      <documentation xml:lang="en">
                        <![CDATA[
                          The cumulative number of units infected since the
                          beginning of the simulation, broken down by
                          production type.
                        ]]>
                      </documentation>
                    </annotation>
                  </enumeration>
                  <enumeration value="cumulative-num-units-infected-by-cause-and-production-type">
                    <annotation>
                      <documentation xml:lang="en">
                        <![CDATA[
                          The cumulative number of units infected since the
                          beginning of the simulation, broken down by
                          production type and cause of infection.
                        ]]>
                      </documentation>
                    </annotation>
                  </enumeration>
                  <enumeration value="cumulative-num-animals-infected">
                    <annotation>
                      <documentation xml:lang="en">
                        <![CDATA[
                          The cumulative number of animals infected since the
                          beginning of the simulation.  Note that this may be
                          greater than the total number of animals, since a
                          unit may become infected, recover, and become
                          infected again.
                        ]]>
                      </documentation>
                    </annotation>
                  </enumeration>
                  <enumeration value="cumulative-num-animals-infected-by-cause">
                    <annotation>
                      <documentation xml:lang="en">
                        <![CDATA[
                          The cumulative number of animals infected since the
                          beginning of the simulation, broken down by cause of
                          infection.
                        ]]>
                      </documentation>
                    </annotation>
                  </enumeration>
                  <enumeration value="cumulative-num-animals-infected-by-production-type">
                    <annotation>
                      <documentation xml:lang="en">
                        <![CDATA[
                          The cumulative number of animals infected since the
                          beginning of the simulation, broken down by
                          production type.
                        ]]>
                      </documentation>
                    </annotation>
                  </enumeration>
                  <enumeration value="cumulative-num-animals-infected-by-cause-and-production-type">
                    <annotation>
                      <documentation xml:lang="en">
                        <![CDATA[
                          The cumulative number of animals infected since the
                          beginning of the simulation, broken down by
                          production type and cause of infection.
                        ]]>
                      </documentation>
                    </annotation>
                  </enumeration>
                </restriction>
              </simpleType>                   
            </element>
            <element name="frequency" type="ergadm:output-variable-frequency" />
          </sequence>
        </complexType>
      </element>
    </sequence>

    <attribute name="version" type="string" fixed="0.1" />
  </complexType>

</schema>
